<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="authMapper">
    
    <select id="authSelect" parameterType="String" resultType="authDTO">
      select * from auth where userId = #{_parameter}
    </select>
    
    <insert id="authInsert" parameterType="authDTO">
      insert into auth values (#{userId}, #{authName})
    </insert>
</mapper>