<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="classRoomMapper">

    <resultMap type="classRoomDTO" id="classRoomDTO">
        <id column="CLASSROOM_USER_ID" property="memberId"/>
        <result column="CLASSROOM_CODE" property="classRoomCode"/>
        <result column="CLASSROOM_ISCURRENT" property="classRoomIsCurrent" typeHandler="edu.kosta.kdc.util.YesNoBooleanTypeHandler"/>
    </resultMap>

    <!-- 아이디로 현재 디폴트된 클래스룸 가져오기 -->
    <select id="selectCurrentCode" resultMap="classRoomDTO">
        SELECT * FROM CLASSROOM WHERE CLASSROOM_USER_ID = #{_parameter} AND CLASSROOM_ISCURRENT = 'TRUE'
    </select>
    
    <!-- 마이페이지 - member가 클래스 코드 입력하면 DB에 해당 유저와 코드를 입력시켜주는 메소드 -->
    <insert id="insertMyClassRoom" parameterType="classRoomDTO">
        insert into classRoom
        values (#{memberId},#{classRoomCode},'FALSE')
    </insert>
    
    <select id="selectMyClassRoomCodeByClassRoomDTO" parameterType="classRoomDTO" resultMap="classRoomDTO">
        select *
        from classRoom
        where CLASSROOM_USER_ID=#{memberId} and CLASSROOM_CODE=#{classRoomCode}
    </select>
    
    <update id="defaultClassSet" parameterType="classRoomDTO">
        update classroom set CLASSROOM_ISCURRENT='TRUE'
        where CLASSROOM_USER_ID=#{memberId} and CLASSROOM_CODE=#{classRoomCode}
    </update>
    
    <update id="updateOtherCurrentClass" parameterType="classRoomDTO">
        update classroom set CLASSROOM_ISCURRENT='FALSE'
        where CLASSROOM_USER_ID=#{memberId}
    </update>
</mapper>