<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="messageMapper">
    
    <resultMap type="MessageDTO" id="messageSelectMap">
        <id column="MESSAGE_PK" property="messageNum"/>
        <result column="MESSAGE_SENDER_ID" property="senderId"/>
        <result column="MESSAGE_RECEIVER_ID" property="receiverId"/>
        <result column="MESSAGE_TITLE" property="messageTitle"/>
        <result column="MESSAGE_CONTENTS" property="messageContents"/>
        <result column="MESSAGE_DATE" property="messageDate"/>
        <result column="MESSAGE_ISREAD" property="messageIsRead" typeHandler="edu.kosta.kdc.util.YesNoBooleanTypeHandler"/>
        <result column="MESSAGE_ISDELETE" property="messageIsDelete" typeHandler="edu.kosta.kdc.util.YesNoBooleanTypeHandler"/>
        <result column="RNUM" property="rnumOne"/>
        <result column="RNUM_1" property="rnumTwo"/>
    </resultMap>
    
    <sql id="messageSelectSQL">
        MESSAGE_PK, MESSAGE_SENDER_ID, MESSAGE_RECEIVER_ID, MESSAGE_TITLE, MESSAGE_CONTENTS, MESSAGE_DATE, MESSAGE_ISREAD, MESSAGE_ISDELETE
    </sql>
    
    <!-- 접속한 ID로 메세지 전체 출력 -->
    <select id="selectAll" resultMap="messageSelectMap" parameterType="String">
        select <include refid="messageSelectSQL"/>
        from message
        where MESSAGE_ISDELETE='FALSE' AND MESSAGE_RECEIVER_ID=#{receiverId}
    </select>
    
    <!-- 받은 ID로 메세지 답장 -->
    <insert id="messageInsert" parameterType="MessageDTO">
        insert into
        message(<include refid="messageSelectSQL"/>)
        values(MESSAGE_SEQ.nextval, #{receiverId}, #{senderId}, #{messageTitle}, #{messageContents}, sysdate,'FALSE','FALSE')
    </insert>
    
    <!-- 메세지 선택 -->
    <select id="selectByMessage" parameterType="int" resultMap="messageSelectMap">
        select MESSAGE_SENDER_ID, MESSAGE_CONTENTS, MESSAGE_DATE, MESSAGE_TITLE
        from message
        where message_pk=#{messageNum}
    </select>
    
    <!-- 메세지 삭제 -->
    <update id="messageDelete" parameterType="int">
        update message
        set MESSAGE_ISDELETE='TRUE'
        where message_pk=#{messageNum}
    </update>
    
    <!-- 메세지 read/unRead -->
    <update id="isReadMessage" parameterType="int">
        update message
        set MESSAGE_ISREAD='TRUE'
        where message_pk=#{messageNum}
    </update>
    
    <!-- 존재하는 ID인지 check -->
    <select id="checkById" parameterType="String" resultType="String">
        select MEMBER_ID
        from member
        where MEMBER_ID=#{senderId} AND MEMBER_ISWITHDRAWAL='FALSE'
    </select>
    
    <!-- 읽지않은 메세지 count -->
    <select id="unReadCount" parameterType="String" resultType="Integer">
        select count(case when MESSAGE_ISREAD='FALSE' then 1 end)
        from MESSAGE
        where MESSAGE_RECEIVER_ID=#{receiverId} AND MESSAGE_ISDELETE='FALSE'
    </select>
    
    <!-- 총 쪽지 수 -->
    <select id="messageTotalCount" resultType="java.lang.Integer">
        select nvl(count(*), 0) as totalCount from message where MESSAGE_ISDELETE = 'FALSE'
    </select>
        
    <!-- 페이징 select -->
    <select id="messagePagingSelect" parameterType="map" resultMap="messageSelectMap">
        select x.rnum, x.* from (
        select rownum as rnum, a.* from (
        select * from message where message_isdelete = 'FASLE'
        and message_recevier_id = #{receiverId}) a 
        where rownum <![CDATA[ <= ]]> #{lastColumn} ) x 
        where x.rnum <![CDATA[ >= ]]> #{firstColumn}
    </select>

</mapper>