<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="portfolioDetailMapper">
    
    <!-- 상세삽입 -->
    <insert id="insertDetail" parameterType="portfolioDetailDTO">
        insert
        into PORTFOLIO_DETAIL
        values (PORTFOLIO_DETAIL_SEQ.NEXTVAL,
        #{portFolioDetailMemberId},
        #{portfolioDetailProjectName},
        #{portfolioDeltailProjectImage},
        #{portfolioDetailDescription},
        'FALSE'
        )
    </insert>

</mapper>