<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="portfolioMapper">
    <resultMap type="portfolioDTO" id="selectMap">
        <id column="portfolio_user_id" property="portFolioMemberId"/>
        <result column="portfolio_main_image" property="portFolioMainImage"/>
        <result column="portfolio_main_title" property="portFolioMainTitle"/>
        <result column="portfolio_visibility" property="portFolioVisibility" typeHandler="edu.kosta.kdc.util.YesNoBooleanTypeHandler"/>
        <result column="portfolio_isdelete" property="portFolioIsDelete" typeHandler="edu.kosta.kdc.util.YesNoBooleanTypeHandler"/>
    </resultMap>
    
    <!-- INSERT -->
    <insert id="insertPortfolio" parameterType="portfolioDTO">
        insert
        into PORTFOLIO
        values(#{portFolioMemberId},
            #{portFolioMainImage},
            #{portFolioMainTitle},
            <choose>
                <when test="portFolioVisibility==null">
                    'FALSE',
                </when>
                <otherwise>
                    'TRUE',
                </otherwise>
            </choose>
            'FALSE'
            
        )
    </insert>
    
    <!-- select(포트폴리오 존재여부 체크) -->
    <select id="selectByMemberId" parameterType="string" resultType="string">
        select portfolio_user_id
        from PORTFOLIO
        where portfolio_user_id = #{_parameter}
    </select>
    

</mapper>