<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportMapper">
    
    <resultMap type="reportDTO" id="reportSelectMap">
        <id column="REPORT_PK" property="reportPk"/>
        <result column="REPORT_REPLY_BOARD_PK" property="reportReplyBoardPk"/>
        <result column="REPORT_REPORTER_ID" property="reportReporterId"/>
        <result column="REPORT_DATE" property="reportDate"/>
        <result column="REPORT_PURPOSE" property="reportPurpose"/>
        <result column="REPORT_ISDELETE" property="reportIsDelete" typeHandler="edu.kosta.kdc.util.YesNoBooleanTypeHandler"/>
        <result column="RNUM" property="rnumOne"/>
        <result column="RNUM_1" property="rnumTwo"/>
        <association property="replyBoardDTO" javaType="replyBoardDTO">
            <id column="REPLY_BOARD_PK" property="replyBoardPk"/>
            <result column="REPLY_BOARD_CLASSIFICATION" property="replyBoardClassification"/>
            <result column="REPLY_BOARD_REPLY_NO" property="replyBoardReplyNo"/>
            <result column="REPLY_BOARD_TITLE" property="replyBoardTitle"/>
            <result column="REPLY_BOARD_WRITER_ID" property="replyBoardWriterId"/>
            <result column="REPLY_BOARD_WRITE_DATE" property="replyBoardDate"/>
            <result column="REPLY_BOARD_CONTENTS" property="replyBoardContents"/>
            <result column="REPLY_BOARD_VIEWS" property="replyBoardViews"/>
            <result column="REPLY_BOARD_MENTION" property="replyBoardMention"/>
            <result column="REPLY_BOARD_ISDELETE" property="replyBoardIsDelete" typeHandler="edu.kosta.kdc.util.YesNoBooleanTypeHandler"/>
        </association>
    </resultMap>
    
    <select id="selectAll" resultMap="reportSelectMap">
        select a.*, b.*
        from report a, reply_board b where a.report_reply_board_pk = reply_board_pk and a.REPORT_ISDELETE='FALSE'
    </select>
    
    <!-- 각 게시판 이름에 따라 신고 내용 가져오기 -->
    <select id="selectReportByBoardName" parameterType="String" resultMap="reportSelectMap">
        select a.*, b.*
        from report a, reply_board b
        where b.REPLY_BOARD_CLASSIFICATION = #{_parameter} 
        and a.report_reply_board_pk = reply_board_pk and a.REPORT_ISDELETE='FALSE'
    </select>

    <!-- 신고 삭제 -->
    <update id="deleteReport" parameterType="int">
        update report
        set REPORT_ISDELETE='TRUE'
        where REPORT_PK=#{_parameter}
    </update>
    
    <!-- 총 신고 수 -->
    <select id="reportTotalCount" resultType="java.lang.Integer">
        select nvl(count(*), 0) as totalCount from report where report_isdelete = 'FALSE'
    </select>
   
    <!-- 페이징 select -->
    <select id="reportPagingSelect" parameterType="map" resultMap="reportSelectMap">
        select x.rnum, x.* from (
        select rownum as rnum, a.* from (
        select g.*, h.* from report g, reply_board h
        where g.report_reply_board_pk = h.reply_board_pk and
        g.report_isdelete = 'FALSE' order by report_date desc) a 
        where rownum <![CDATA[ <= ]]> #{lastColumn} ) x 
        where x.rnum <![CDATA[ >= ]]> #{firstColumn}
    </select>
    
    <!-- 신고내용 자세히 보기 -->
    <select id="selectByReportPk" parameterType="int" resultMap="reportSelectMap">
        select a.*, b.*
        from report a, reply_board b 
        where a.report_pk = #{_parameter}
        and a.report_reply_board_pk = reply_board_pk 
        and a.REPORT_ISDELETE='FALSE'
    </select>
</mapper>