*{
	margin: 0; auto;
}






/* signinform */


    body{
	/* display: flex; */
	
	
    }

    .login-title {
      display: block;
      padding: 100px 0 0 0;
      font-size: 50px;
      text-align: center;
    }

 

      
    .idpassword {
      text-align: center;
      margin: 20px;
      
    } 
    
    .idpassword input{
      margin: 10px;
      height: 65px; 
      width: 420px;
    } 
   


    .signin-button input{
      margin: 20px;
      height:60px;
      width: 420px;
      background-color: #03293c;
      color: white;
    }
    
    
    .ajax{
      width: 330px;
      color: tomato;
      font-size: 13px;
    
    }
    
    
    div.singin-form{
      display: inline-block;
    }
   span.singin-form-line{
      display: inline-block;
      width: 1px;
      height: 13px;
      text-indent: -999em;
      background: #e4e4e5;
      margin: 0 6px;
    }
    
    
    /* signupform */
    
     .sign-title {
      display: block;
      padding: 30px 0 0 0;
      font-size: 40px;
      text-align: center;
      color: #666;
    }
    
    .underline{
       width: 40px;
       border: solid 2px #666;
      
       
    }
    
     table {
      margin: 40px 0 20px 0;
  	  width: 800px;
     }

     td, th {
      padding: 12px;
   	  font-size: 17px;
     }
     tr td input { height: 40px; width: 400px}

     .setbutton {
        padding: 20px;
  		height: 60px;
  		width: 450px;
  		background-color: #03293c;
  		color: white;
  		}

     td {
           width:200px; height:30px;}
    
    
    
    
     /* mapage */
     
      .mypage-button {
        margin: 30px 0 50px 0;
  		height: 40px;
  		width: 200px;
  		background-color: #03293c;
  		color: white;
  		}
  		
  		.mypage-menu{
  		 border-bottom: 2px green solid;
  		 width: 700px;
  		}

 
 
         .mypage-menu  ul li{
         margin-top: 30px;
         display:inline-block;
         padding: 20px;
         text-align: center;
        
         }
      /* mypageupdate */


  	    .memberdelete{
  	    margin-top: 100px;
 	    margin-bottom: 100px;
  	    }
  	    
  	    .memberdelete-form{
  	    margin-top: 40px;
  	    
  	    }
  	    
  	    .memberdelete-font{
  	    font-size: 11px;
  	    }

     
     