
/* selectAll */


div.tiles{
  margin-top: 100px;
  
}


div.portfolio{
    width: 330px;
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;  
    cursor: pointer;
    padding: 4px;
       
    display: inline-block;
    float: left;
    margin: 20px;

}


.selelctall-img{
     width: 320px;  
}


.selectall-title{
     font-size: 15px;
}
 
 
 
 
    /*  div{
         display: flow; -!important
     }

      div#columns{
       column-width:250px;
       column-gap: 15px;
      
      }
      #columns figure{
        display: inline-block;
        border:1px solid rgba(0,0,0,0.2);
        margin:0;
        margin-bottom: 15px;
        padding:10px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.3);;
      }
      #columns figure img{
        width: 245px;
  
      }
      #columns figure figcaption{
        border-top:1px solid rgba(0,0,0,0.2);
        padding:10px;
        margin-top:11px;
        width: 245px;
      }
  */